.modalBackground{
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.4);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.modalContainer{
    width: 500px;
    height: 85vh;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
   margin-bottom: 3.5rem;
}

.modalContainer form input, .modalContainer form textarea{
    display: block;
    width: 100%;
    background: #ebecfe;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}
.subBtn{
    display: flex;
    justify-content: center;
}
.crossSign{
    display: flex;
    justify-content: flex-end;
}
.closemodalBtn{
    font-size: 24px;
    margin-bottom: 1rem;
    background: transparent;
}
.darkBtn{
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0.6rem 1rem;
    max-width: fit-content;
    border-radius: 0.4rem;
    background: var(--color-primary);
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.modaltile{
    font-weight: 500;
    color: var(--color-yellow);
    font-size: 22px;
    margin-bottom: 0.8rem;
}
.modalContainer span{
    display: block;
    margin: 10px auto;
}